{extend name="Teacher/Template/base"/}
{block name="title"}
课程管理
{/block}
{block name="search"}
{$courseSchedules[0]->Course->name}时间安排表
<hr />
<!-- <div class="row">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" name="search_type">
                  <option value="0" {if condition="input('get.search_type') == 0"} selected {/if}>课程名称</option>
                </select>
                <input name="search_content" type="text" class="form-control" placeholder="请输入课程名称..." value={:input( 'get.search_content')}>
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <div class="col-md-4 text-right">
            <a href="{:url('teacherAddCourse')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
        </div>
    </div>
</div> -->
<!-- <hr /> -->
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>课程名称</th>
        <th>教师名称</th>
        <th>节次</th>
        <th>开始时间</th>
        <th>结束时间</th>
    </tr>
    {volist name="courseSchedules" id="courseSchedule" key="key"}
    <tr>
        <td>{$courseSchedule->Course->name}</td>
        <td>{$courseSchedule->Course->Teacher->name}</td>
        <td>{$courseSchedule->num}</td>
        <td>{$courseSchedule->start_time}</td>
        <td>{$courseSchedule->end_time}</td>
    </tr>
    {/volist}
</table>

{/block}


