{extend name="Teacher/Template/base"/}
{block name="title"}
查询管理
{/block}
{block name="script"}
{/block}
{block name="search"}
<ul class="nav nav-tabs">
  <li id="search_type_1" class="active" ><a href="#">课堂整体态势分析</a></li>
</ul>
<br />

<form action="{:url('Teacher/showCourseAnalysis')}" method="post">
<div class="row">
    <div class="col-md-8">
        <div class="form-inline">
            <div class="form-group">
                <label >课程名称:</lable>
                <input id="course_name" name="course_name" type="text" class="form-control" placeholder="请输入搜索内容..." value="{:input('post.course_name')}">

                <label >&nbsp;&nbsp;课程节次:</lable>
                <input id="num" name="num" type="text" class="form-control" placeholder="请输入搜索内容..." value="{:input('post.num')}">
            </div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <input type="hidden" id="search_type" name="search_type" value="1">
        <button id="compare" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
    </div>
</div>
</form>
<hr />
{/block}
{block name="content"}
内容待完善

{/block}


