<!-- 侧边栏导航 -->
<aside class="col-md-2">
    <div class="span2" style="margin-top:73px;"> 
        <a href="#mgrMenu" class="nav menu-first collapsed " data-toggle="collapse"><i class="icon-user-md icon-large"></i> 用户管理</a>
        <ul id="mgrMenu" class="nav nav-list collapse menu-second"> 
            <li><a href="#"><i class="icon-user"></i> 增加用户</a></li>
            <li><a href="#"><i class="icon-edit"></i> 修改用户</a></li>
            <li><a href="#"><i class="icon-trash"></i> 删除用户</a></li>
            <li><a href="#"><i class="icon-list"></i> 用户列表</a></li>
        </ul> 
        <a href="#deviceMenu" class="nav menu-first collapsed" data-toggle="collapse"><i class="icon-user-md icon-large"></i> 设备管理</a>
        <ul id="deviceMenu" class="nav nav-list collapse menu-second"> 
            <li><a href="#"><i class="icon-user"></i> 设备列表</a></li>
        </ul> 
        <a href="#quotaMenu" class="nav menu-first collapsed" data-toggle="collapse"><i class="icon-user-md icon-large"></i> 指标管理</a>
        <ul id="quotaMenu" class="nav nav-list collapse menu-second"> 
            <li><a href="#"><i class="icon-user"></i> 指标详情</a></li>
        </ul>
        <a href="#infoMenu" class="nav menu-first collapsed" data-toggle="collapse"><i class="icon-user-md icon-large"></i> 信息管理</a>
        <ul id="infoMenu" class="nav nav-list collapse menu-second"> 
            <li><a href="#"><i class="icon-user"></i> 信息详情</a></li>
        </ul>
    </div> 
</aside>
<!-- 侧边栏导航 -->