{extend name="Manager/Template/base"/}
{block name="title"}
教师管理
{/block}
{block name="search"}
<hr />
<div class="row">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" name="search_type">
                  <option value="0" {if condition="input('get.search_type') == 0"} selected {/if}>姓名</option>
                  <option value="1" {if condition="input('get.search_type') == 1"} selected {/if}>学号</option>
                  <option value="2" {if condition="input('get.search_type') == 2"} selected {/if}>其他</option>
                </select>
                <input name="search_content" type="text" class="form-control" placeholder="请输入搜索内容..." value={:input( 'get.search_content')}>
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
    <div class="col-md-4 text-right">
        <a href="{:url('managerAddTeacher')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
    </div>
</div>
<hr />
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>email</th>
        <th>操作</th>
    </tr>
    {volist name="teachers" id="teacher" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$teacher->name}</td>
        <td>{$teacher->email}</td>
        <td><a class="btn btn-sm btn-primary" href="{:url('showTeacherDetail?id=' . $teacher->id)}"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;详情</a></td>
    </tr>
    {/volist}
</table>
{$teachers->render()}
{/block}


