<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}基础模板{/block}</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/thinkphp5/public/static/common/js/jquery.min.js"></script>
	<script type="text/javascript" src="/thinkphp5/public/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/thinkphp5/public/static/common/js/jquery.wallform.js"></script>
	<script type="text/javascript" src="/thinkphp5/public/static/common/js/highcharts.js"></script>
	<script type="text/javascript" src="/thinkphp5/public/static/common/js/exporting.js"></script>
<style type="text/css">
body{
    padding-top:70px;
}
/*模拟对角线*/ 
.out{ 
border-top:40px #D6D3D6 solid;/*上边框宽度等于表格第一行行高*/ 
width:0px;/*让容器宽度为0*/ 
height:0px;/*让容器高度为0*/ 
border-left:80px #BDBABD solid;/*左边框宽度等于表格第一行第一格宽度*/ 
position:relative;/*让里面的两个子容器绝对定位*/ 
} 
.out b{font-style:normal;display:block;position:absolute;top:-40px;left:-40px;width:35px;} 
em{font-style:normal;display:block;position:absolute;top:-25px;left:-70px;width:55x;} 
.t1{background:#BDBABD;}
{block name="css"}

{/block}
</style>
<script type="text/javascript">
{block name="script"}

{/block}
</script>
</head>

<body class="container">
{block name="header"}
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{:url('Teacher/index')}">{:session('name')}的主页</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               个人管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					               <li><a href="{:url('Teacher/edit')}">信息修改</a></li>
					               <li class="divider"></li>
					               <li><a href="{:url('Teacher/passwordEdit')}">密码修改</a></li>
					            </ul>
                            </li>
                            <li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               学生管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					               <li><a href="{:url('Teacher/studentList')}">学生列表</a></li>
					            </ul>
                            </li>
							<li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               课程管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					               <li><a href="{:url('Teacher/showCourseList')}">课程列表</a></li>
					            </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   课堂学习过程分析 
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                   <!--  <li><a href="{:url('#')}">指标配置</a></li>
                                    <li class="divider"></li> -->
                                   <li><a href="{:url('showLessonList')}">课堂学习行为数据</a></li>
                                   <li class="divider"></li>
                                   <li><a href="{:url('showLessonAnalysisList')}">课堂教学效果分析</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   考试过程分析 
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- <li><a href="{:url('#')}">指标配置</a></li>
                                    <li class="divider"></li> -->
                                   <li><a href="{:url('showPaperList')}">试卷测试列表</a></li>
                                   <li class="divider"></li>
                                   <li><a href="{:url('showPaperQuestionAnalysisList')}">解题过程分析</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   自习过程分析 
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                   <!--  <li><a href="{:url('#')}">指标配置</a></li>
                                   <li class="divider"></li> -->
                                   <li><a href="{:url('showSelfLearningLists')}">学生自习列表</a></li>
                                   <li class="divider"></li>
                                   <li><a href="{:url('showSelfLearningAnalysisList')}">在线自习测试效果分析</a></li>
                                </ul>
                            </li>
<!--                             <li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               考试管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					            	<li><a href="{:url('Teacher/showExamList')}">测试列表</a></li>
                                    <li class="divider"></li>
					               	<li><a href="#">在线组卷</a></li>
                                    <li class="divider"></li>
					               	<li><a href="#">试题上传</a></li>
					            </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   自习场景 
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:url('Teacher/showSelfLearningList')}">指标一</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">指标二</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   课堂场景 
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:url('Teacher/showCourseResult') . '?type=0'}">参与度</a></li>
                                    <li><a href="{:url('Teacher/showCourseResult') . '?type=1'}">行为统计</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{:url('Teacher/showCourseAnalysis')}">课堂整体分析</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   考试场景 
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:url('Teacher/showExamAnalysis') . '?type=0'}">准确率</a></li>
                                    <li><a href="{:url('Teacher/showExamAnalysis') . '?type=1'}">平均答题时长</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{:url('Teacher/showExamAnalysis') . '?type=2'}">各个选项关注占比</a></li> 
                                </ul>
                            </li> -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/logout')}">安全退出</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- /菜单导航 -->
{/block}
    <div class="row">
        <div class="col-md-12">
            {block name="search"}
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="姓名..." value={:input( 'get.name')}>
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr /> 
            {/block} {block name="content"}
				<div id="container" style="min-width:400px;height:400px"></div>
            {/block} 
            {block name="page"} {/block}
        </div>
    </div>
    <script type="text/javascript">
        $('#bs-example-navbar-collapse-1 ul:first-child  > li').click(function(){
            console.log($(this));
            $('#bs-example-navbar-collapse-1 ul:first-child  > li').removeClass('active');
            $(this).addClass('active');
        });
    </script>
</body>

</html>