<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}管理员模板{/block}</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/thinkphp5/public/static/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="/thinkphp5/public/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/thinkphp5/public/static/common/js/jquery.wallform.js"></script>
    <script type="text/javascript" src="/thinkphp5/public/static/common/js/highcharts.js"></script>
    <script type="text/javascript" src="/thinkphp5/public/static/common/js/exporting.js"></script>
<style type="text/css">
body{
    padding-top: 70px;
}
/*模拟对角线*/ 
.out{ 
border-top:40px #D6D3D6 solid;/*上边框宽度等于表格第一行行高*/ 
width:0px;/*让容器宽度为0*/ 
height:0px;/*让容器高度为0*/ 
border-left:80px #BDBABD solid;/*左边框宽度等于表格第一行第一格宽度*/ 
position:relative;/*让里面的两个子容器绝对定位*/ 
} 
.out b{font-style:normal;display:block;position:absolute;top:-40px;left:-40px;width:35px;} 
em{font-style:normal;display:block;position:absolute;top:-25px;left:-70px;width:55x;} 
.t1{background:#BDBABD;}
{block name="css"}

{/block}
</style>
<script type="text/javascript">
{block name="script"}

{/block}
</script>
</head>

<body class="container">
{block name="header"}
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{:url('Manager/index')}">{:session('name')}的主页</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               个人管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					               <li><a href="{:url('Manager/edit')}">信息修改</a></li>
					               <li class="divider"></li>
					               <li><a href="{:url('Manager/passwordEdit')}">密码修改</a></li>
					            </ul>
                            </li>
                            	
                            <li><a href="{:url('Manager/teacherList')}">教师管理</a>
                            </li>
                            <li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               课程管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					               <li><a href="{:url('Manager/showCourseList')}">课程列表</a></li>
                                   <li class="divider"></li>
					               <li><a href="{:url('Manager/showPaperList')}">试卷列表</a></li>
					            </ul>
                            </li>
                            <li><a href="{:url('Manager/showKlassList')}">班级管理</a>
                            </li>
                            <li><a href="{:url('Manager/studentList')}">学生管理</a>
                            </li>
<!-- 							<li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               设备管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					            	<li><a href="#">设备列表</a></li>
					            	<li class="divider"></li>
					               	<li><a href="#">状态监督</a></li>
					            </ul>
                            </li> -->
                            <li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					               测试数据管理 
					               <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					               <li><a href="{:url('Manager/showResourceList')}">资源列表</a></li>
					               <!-- <li><a href="#">信息录入</a></li> -->
					            </ul>
                            </li>
                            <li class="dropdown">
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/logout')}">安全退出</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- /菜单导航 -->
{/block}
    <div class="row">
        <div class="col-md-12">
            {block name="search"}
            {/block} {block name="content"}
            {/block} 
            {block name="page"} {/block}
        </div>
    </div>
    <script type="text/javascript">
        $('#bs-example-navbar-collapse-1 ul:first-child  > li').click(function(){
            console.log($(this));
            $('#bs-example-navbar-collapse-1 ul:first-child  > li').removeClass('active');
            $(this).addClass('active');
        });
    </script>
</body>

</html>