{extend name="User/base"/}
{block name="title"}
课堂学习过程分析
{/block}

{block name="search"}
{/block}
{block name="content"}
<table style="margin:auto">
    <tbody valign="middle">
        <tr class="row">
            <td class="col-md-4">
                <img src="\thinkphp5\public\resource\photo\student\1.jpg" style="width:260px;height:320px;">
            </td>
            <td class="col-md-8">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>时间</th>
                        <th>举手次数</th>
                        <th>站立次数</th>
                        <th>趴桌次数</th>
                        <th>课堂活跃度</th>
                        <th>有效检测人数</th>
                    </tr>
                    <tr>
                        <td>0min~3min</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>66%</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>3min~6min</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>66%</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>6min~9min</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>66%</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>9min~12min</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>66%</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>12min~15min</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>66%</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>15min~18min</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>66%</td>
                        <td>15</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{/block}


