{extend name="Teacher/Template/base"/}
{block name="title"}
课堂学习过程分析
{/block}

{block name="search"}
<hr />
{/block}
{block name="content"}
<table style="margin:auto">
    <tbody valign="middle">
        <tr class="row">
            <td class="col-md-4">
                <img src="{:$picUrl}" style="width:320px;height:260px;">
            </td>
            <td class="col-md-8">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>时间</th>
                        <th>举手次数(次)</th>
                        <th>站立次数(次)</th>
                        <th>趴桌次数(次)</th>
                        <th>课堂活跃度(%)</th>
                        <th>有效检测人数(人)</th>
                    </tr>
                    {volist name="lessonProcessList" id="lessonProcess" key="key"}
                    <tr>
                        <td>{$lessonProcess->minute - 1}min~{$lessonProcess->minute}min</td>
                        <td>{$lessonProcess->hand_up}</td>
                        <td>{$lessonProcess->stand_up}</td>
                        <td>{$lessonProcess->sleep_on_desk}</td>
                        <td>{$lessonProcess->activeness}</td>
                        <td>{$lessonProcess->stu_valid}</td>
                    </tr>
                    {/volist}
                </table>
            </td>
        </tr>
    </tbody>
</table>
{/block}


