{extend name="Teacher/Template/base"/}
{block name="title"}
考试过程分析
{/block}

{block name="search"}
{/block}
{block name="content"}
<table style="margin:auto">
    <tbody valign="middle">
        <tr class="row">
            <td class="col-md-4">
                <img src="\thinkphp5\public\resource\photo\student\1.jpg" style="width:260px;height:320px;">
            </td>
            <td class="col-md-8">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th><div class="out">
                        	<b>题号</b>
                        	<em>时间</em>
                        </div></th>
                        {php}
                        $step = 2;
                        $status = ['第一题','第二题','第三题','第四题','第五题','第六题','第七题','第八题','第九题','第十题','第十一题','第十二题','第十三题','第十四题'];
                        for($i = 0; $i < $total; $i++){
                            echo "<th>$status[$i]</th>";
                        }
                        {/php}
                    </tr>
                    {for start="0" end="count($stuFinishRatePerMinute)" step="$step" name="i"}
                    <tr>
                        <td>{$i . "min~" . (($i + $step)>= count($stuFinishRatePerMinute)? count($stuFinishRatePerMinute): ($i + $step))."min"}</td>
                        {for start="0" end="$total" name="j"}
                            <th>{$stuFinishRatePerMinute[$i][$j]}</th>
                        {/for}
                    </tr>
                    {/for}
                </table>
            </td>
        </tr>
    </tbody>
</table>
{/block}


