{extend name="Teacher/Template/base"/}
{block name="title"}
在线学习过程分析
{/block}
{block name="search"}
<!--<hr />
 <div class="row">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" name="search_type">
                  <option value="0" {if condition="input('get.search_type') == 0"} selected {/if}>课程名称</option>
                  <option value="1" {if condition="input('get.search_type') == 1"} selected {/if}>教学模式</option>
                </select>
                <input name="search_content" type="text" class="form-control" placeholder="请输入查询内容..." value={:input( 'get.search_content')}>
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
    <div class="col-md-4 text-right">
    </div>
</div> -->
<hr />
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>题号</th>
        <th>时长</th>
        <th>各选项关注次数(次)</th>
        <th>各选项关注度(s)</th>
        <th>学生选项</th>
        <th>正确答案</th>
        <th>掌握程度</th>
    </tr>
    {volist name="questionResults" id="questionResult" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$questionResult->question_id}</td>
        <td>{$questionResult->duration}s</td>
        <td>{$questionResult->visit_count_a}/{$questionResult->visit_count_b}/{$questionResult->visit_count_c}/{$questionResult->visit_count_d}</td>
        <td>{$questionResult->duration_a}s/{$questionResult->duration_b}s/{$questionResult->duration_c}s/{$questionResult->duration_d}</td>
        <td>{$questionResult->answer}</td>
        <td>{$questionResult->getRightAnswer()}</td>
        <td>{$questionResult->getMastery()}</td>
    </tr>
    {/volist}
</table>

{/block}


